/*section{

    background-color: red;
    padding: 0 30px 20px 20px;
}

section.primary{

    background-color: blueviolet;
}

section.Home{

    background-color: brown;
}

section.one{

    background-color: orangered;
}

section.k{

    background-color: yellow;
}

section.nope{

    background-color: goldenrod;
}*/

section{

    background-color: orangered;
}

section:nth-child(even){

    background-color: brown;
}

.bg-image{

    background-image: url("../img/image.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    background-color: transparent;
    color: white;
}

.btn-new {
    color: white;
    border-radius: 0 !important;
}
.btn-new:hover, .btn-new:focus, .btn-new:active {
    color: blue;
    background-color: transparent;
}
